:root {
    --bg-principal: #234C6A;
    --bg-secondary: #1B3C53;
    --text-color: #D2C1B6;
    --hover-color: #8f8a88;
    --btn-color: #456882;
}


html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
}
*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}


body {
    font-size: 1.6rem;
    background-color: var(--bg-principal);
    line-height: 1.5;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.8rem;
}

h1, h2 {
    color: var(--text-color);
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    color: var(--hover-color);
}

li {
    list-style: none;
    text-transform: uppercase;
    font-weight: 700;
}


.container {
    max-width: 120rem;
    margin: 0 auto;
}

/* HEADER */

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem 4rem;
    background-color: var(--bg-secondary);
}

.logo-img {
    border: none;
    border-radius: 100%;
    width: 12rem;
}

.container-search {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
}

.form-search {
    height: 4rem;
    width: 100%;
    max-width: 30rem;
}

.icon-search {
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--text-color);
}

.input-search {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    padding: 1rem;
    background-color: var(--text-color);
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.nav-links .user-name {
    display: block;
}

.icon-cart {
    font-size: 2.8rem;
}

.cart-container {
    position: relative;
}

/* count */
.cart-badge {
    position: absolute;
    top: -6px;
    right: -9px;
    background: red;
    color: var(--text-color);
    font-size: 1.2rem;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    display: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Dropdown */
.cart-dropdown {
    position: absolute;
    top: 3.6rem;
    right: 0;
    width: 30rem;
    background: var(--bg-secondary);
    box-shadow: 0 6px 12px rgba(0,0,0,.15);
    padding: 1rem;
    z-index: 1000;
}

.hidden {
    display: none;
}

.cart-name, .cart-price {
    font-size: 1.3rem;
    font-weight: 400;
}

.cart-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    color: white;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #0a263a;
    border-radius: 1rem;
}

/* SCROLL */

#cart-items {
    max-height: 35rem; 
    overflow-y: auto;
}

#cart-items::-webkit-scrollbar {
    width: 6px;
}

#cart-items::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 4px;
}

.cart-item img {
    width: 5rem;
    height: 5rem;
    object-fit: contain;
}

.cart-controls {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cart-controls button {
    width: 2.4rem;
    height: 2.4rem;
    border: none;
    background: #e53935;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.empty-cart {
    text-align: center;
    padding: 1rem;
    color: #777;
}

.total {
    padding: 1.5rem 0;
    font-size: 2rem;
    text-align: end;
    color: var(--text-color);
    text-transform: lowercase;
}

/* MAIN */

.title {
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 3rem;
}

.products__title {
    font-weight: 700;
    margin-bottom: 2.5rem;
}

/* CARDS */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}


/* CARD */
.card {
    border: 1px solid var(--bg-secondary);
    background-color: #0a263a;
    display: flex;
    flex-direction: column;
    width: 27rem;
    justify-content: space-between;
    border-radius: 0.7rem;
    row-gap: 1.5rem;
    padding: 2rem 1.5rem;
    color: white;
}

.card-name {
    font-weight: 400;
}

.card-description {
    font-weight: 400;
}

.card-price {
    font-weight: 700;
    font-size: 1.8rem;
}

/* BTNS */

.container-btns {
    display: flex;
    margin: 4rem 0 2rem 0;
    column-gap: 2rem;
}

.container-button-cart {
    display: flex;
    justify-content: space-between;
}

.btn-finish-buy {
    background-color: green;
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: .6rem;
    padding: 1rem 1.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: flex;
    align-items: center;
}

.btn-finish-buy:hover {
    background-color: rgb(4, 168, 4);
}




.btn, .btn-order, .btn-empty-cart {
    border: none;
    background-color: #f0320a;
    padding: 1.2rem 5rem;
    border-radius: 1rem;
    font-size: 1.4rem;
    color: white;
    font-weight: 700;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.btn-empty-cart:hover {
    background-color: #ee4b2b;
}

.btn-empty-cart {
    display: none;
    justify-content: center;
    padding: 1rem;
}

.icon-trash {
    font-size: 2rem;
}

.cart-controls .btn-increase {
    background-color: rgb(20, 138, 20);
}

.btn ion-icon {
    width: 2.1rem;
    height: 2.1rem;    
}

.btn-order {
    background-color: rgb(20, 138, 20);
    padding: 1.2rem 2rem;
}

/* FOOTER */

footer {
    background-color: var(--bg-secondary);
    padding: 2.5rem;
    margin-top: 3rem;
}

.text-copy {
    color: var(--text-color);
    text-align: center;
    text-transform: uppercase;
}


/* OVERLAY */
.modal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

/* MODAL */
.modal {
    background: #111;
    padding: 2rem;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    color: #fff;
    font-family: 'Roboto', sans-serif;

    transform: scale(0.95);
    transition: transform 0.3s ease;
}

.user-name {
    color: var(--text-color);
}

/* ACTIVO */
.modal-overlay.active {
    opacity: 1;
    pointer-events: all;
}

.modal-overlay.active .modal {
    transform: scale(1);
}

/* INPUT */
.modal input {
    width: 100%;
    padding: 10px;
    margin: 1rem 0;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}

/* BOTÓN */
.modal button {
    width: 100%;
    padding: 10px;
    background-color: #00ff88;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.modal button:hover {
    background-color: #00cc6e;
}

/* ERROR */
.error {
    color: red;
    margin-top: 10px;
    font-size: 0.9rem;
}

/* RESPONSIVE */

/* MENU MOBILE FULLSCREEN */
.mobile-menu {
    position: fixed;
    inset: 0;
    background-color: white;
    z-index: 3000;
    display: flex;
    flex-direction: column;
}

.mobile-menu-links {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-size: 2.5rem;
    padding: 3rem;
    margin-top: 7rem;
}

.mobile-menu-links .user-name {
    display: none;
}

.mobile-menu-links li {
    border-bottom: 1px solid;
}

.mobile-menu-links a {
    color: #000;
    font-weight: 700;
}

#close-menu {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 3rem;
    border: none;
    background: none;
    cursor: pointer;
}

.btn-close {
    font-size: 4.5rem;
    color: var(--bg-secondary);
}

.menu-mobile-btn {
    display: none;
}


#menu-btn {
    color: var(--text-color);
}

.hidden {
    display: none;
}

/* MOBILE */ 
@media(max-width: 480px) {

    header {
        display: flex;
        justify-content: space-between;
        padding-right: 1rem;
        padding-left: 0;
    }

    .card {
        width: 20rem;
    }

    .form-search {
        height: 4rem;
    }

    .user-name {
        color: black;
    }

    .nav-links .user-name {
        display: none;
    }

  .mobile-menu-links .user-name {
        display: block;
    }

    .btn {
        padding: 1.2rem;
    }
}


/* TABLET */
@media(max-width: 768px) {

    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2000;
    }

    body {
        padding-top: 10.7rem;
    }
    
    .container-btns {
        justify-content: center;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }

    .menu-mobile-btn {
        display: block;
        font-size: 3rem;
        cursor: pointer;
    }

    #menu-btn {
        color: var(--text-color);
        display: flex;
        align-items: center;
    }
    
    .nav-links .nav-link {
        display: none;
    }
}

/* LAPTOP */ 
@media (max-width: 900px) {

    .container-btns {
        justify-content: center;
    }
    
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }
}

body.no-scroll {
    overflow: hidden !important;
}