:root {
    --bg-principal: #234C6A;
    --bg-secondary: #1B3C53;
    --text-color: #D2C1B6;
    --hover-color: #8f8a88;
    --btn-color: #456882;
}


html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
}
*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}


body {
    font-size: 1.6rem;
    background-color: var(--bg-principal);
    line-height: 1.5;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.8rem;
}

h1, h2 {
    color: var(--text-color);
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    color: var(--hover-color);
}

li {
    list-style: none;
    text-transform: uppercase;
    font-weight: 700;
}


.container {
    max-width: 120rem;
    margin: 0 auto;
}

/* HEADER */

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem 4rem;
    background-color: var(--bg-secondary);
}

.logo-img {
    border: none;
    border-radius: 100%;
    width: 12rem;
}

.container-search {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
}

.form-search {
    height: 4rem;
    width: 30rem;
}

.icon-search {
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--text-color);
}

.input-search {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    padding: 1rem;
    background-color: var(--text-color);
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.icon-cart {
    font-size: 2.8rem;
}

.cart-container {
    position: relative;
}

/* count */
.cart-badge {
    position: absolute;
    top: -6px;
    right: -9px;
    background: red;
    color: var(--text-color);
    font-size: 1.2rem;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    display: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Dropdown */
.cart-dropdown {
    position: absolute;
    top: 3.6rem;
    right: 0;
    width: 26rem;
    background: var(--bg-secondary);
    box-shadow: 0 6px 12px rgba(0,0,0,.15);
    padding: 1rem;
    z-index: 1000;
}

.hidden {
    display: none;
}



.cart-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    color: white;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #0a263a;
    border-radius: 1rem;
}

.cart-item img {
    width: 5rem;
    height: 5rem;
    object-fit: contain;
}

.cart-controls {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cart-controls button {
    width: 2.4rem;
    height: 2.4rem;
    border: none;
    background: #e53935;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.empty-cart {
    text-align: center;
    padding: 1rem;
    color: #777;
}

/* MAIN */

.title {
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 3rem;
}

.products__title {
    font-weight: 700;
    margin-bottom: 2.5rem;
}

/* CARDS */
.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2rem;
}


/* CARD */
.card {
    border: 1px solid var(--bg-secondary);
    background-color: #0a263a;
    display: flex;
    flex-direction: column;
    width: 27rem;
    justify-content: space-between;
    border-radius: 0.7rem;
    row-gap: 1.5rem;
    padding: 2rem 1.5rem;
    color: white;
}

.card-name {
    font-weight: 400;
}

.card-description {
    font-weight: 400;
}

.card-price {
    font-weight: 700;
    font-size: 1.8rem;
}

/* BTNS */

.container-btns {
    display: flex;
    margin: 4rem 0 2rem 0;
    column-gap: 2rem;
}



.btn, .btn-order {
    border: none;
    background-color: #f0320a;
    padding: 1.2rem 5rem;
    border-radius: 1rem;
    font-size: 1.4rem;
    color: white;
    font-weight: 700;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.cart-controls .btn-increase {
    background-color: rgb(20, 138, 20);
}

.btn ion-icon {
    font-weight: 700;
    font-size: 1.4rem;
}

.btn-order {
    background-color: rgb(20, 138, 20);
    padding: 1.2rem 2rem;
}

/* FOOTER */

footer {
    background-color: var(--bg-secondary);
    padding: 2.5rem;
    margin-top: 3rem;
}

.text-copy {
    color: var(--text-color);
    text-align: center;
    text-transform: uppercase;
}